/* .App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
} */
.navbar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  margin: 20px 35px;
}
body {
  font-family: Roboto;
}
.profile {
  height: 225px;
  aspect-ratio: 1/ 1;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Color Game CSS */
.color-game-block {
  display: table;
  margin: 0 auto;
}

/* Counter CSS */
.buttons {
  width: 340px;
  display: flex;
  gap: 15px;
  justify-content: flex-start;
}
.counter {
  margin: 0 auto;
}
.progress-bar {
  width: 100%;
}

/* Movie CSS */
.movie-list {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-around;
  gap: 20px;
}
.movie-poster {
  height: 500px;
  width: 100%;
  object-fit: cover;
}
.movie-container {
  width: 350px;
}
.movie-spec {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.movie-name {
  font-size: 24px;
  margin: 0;
}
.movie-rating {
  font-size: 18px;
}
.movie-summary {
  margin: 0;
}

/* Add Movie CSS */
.add-movie-form {
  display: flex;
  padding: 16px;
  flex-direction: column;
  gap: 12px;
  margin: 0 auto;
  max-width: 450px;
}

/* Movie Details CSS */
.movie-detail-container {
  max-width: 1000px;
  padding: 20px;
  margin: 0 auto;
}
.trailer-container {
  position: relative;
  left: 5%;
  width: 90%;
  aspect-ratio: 16/9;
}
